<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe do Produto</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-fab navPush="/cart" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name='cart'></ion-icon>
      </ion-fab-button>
    </ion-fab>
 


<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/cat.png" />
      <ion-card-title>{{product?.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product?.price | currency}}
    </ion-card-content>
    <ion-button color="primary" expand = "block" (click)="addCart(product)"> Adionar ao Carrnho </ion-button>
     
  </ion-card>

</ion-content>