.item{
    text-align: center;
}
.item-footer{
    display: flex;
    justify-content: space-between;
    
    ion-label{
        padding: 0;
        margin: 10px;
        text-align: end;
        font-weight: bold;
        font-family: sans-serif;
    }
    .total{
        clear: both;
        text-align: start;    
    }

}
button{
    margin:2px;
    border-radius: 5px;
    padding: 5px;
    width:25px;
}
