<ion-header>
  <ion-toolbar>
    <ion-title>Lista de produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name='cart'></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let product of products" (click)="productDetails(product.id)">
    <ion-card-header>
      <ion-card-subtitle>Produto:</ion-card-subtitle>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.price | currency}}
    </ion-card-content>
  </ion-card>
</ion-content>